.navbar_utpolis {
    background-color: #052d74;
    font-size: 15px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: top 0.3s;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar_utpolis.scrolled {
    background-color: #ffffff;
    font-size: 15px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: top 0.3s;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: color 0.3s ease, background-color 0.3s ease;
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.234);
}

.navbar_utpolis_font {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.navbar_utpolis_font_links {
    color: white;
    transition: color 0.3s ease;
    text-decoration: none;
    padding-right: 40px;
    user-select: none;
}

.navbar_utpolis_font_li {
    align-content: center;
}

.navbar_utpolis_font_links:hover {
    color: #0862fd;
}

.navbar_utpolis_font_links.scrolled  {
    color: black;
}

.navbar_utpolis_font_links.scrolled:hover {
    color: #0862fd;
}

.navbar_utpolis_inicio_sesion {
    background-color: #0862fd;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    transition: color 0.3s ease;
}

.navbar_utpolis_usuario{
    background-color: #0862fd;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition: color 0.3s ease;
}

.navbar_utpolis_inicio_sesion:hover {
    background-color: #4086ff;
}

.general_utpolis {
    background-color: #031e4d;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    height: 550px;
}

.general_utpolis_2 {
    background-color: white;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}

.general_utpolis_carrusel {
    padding: 40px;
    align-content: center;
}

.general_utpolis_carrusel_slide {
    background-color: #052d74;
    border-radius: 8px;
    border: 0cap;
    color: rgb(255, 255, 255);
    width: 1150px;
    height: 450px;
}

.imagen_carrusel_slide {
    width: 100%;
    padding-bottom: 50px;
}

.boton_slide {
    width: 90%; 
    background-color: white;
    border-radius: 10px;
    border: 0cap;
    color: black;
    padding: 10px 20px; 
    text-align: center; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.boton_slide:hover {
    background-color: rgb(148, 148, 148);
    transform: scale(1.05);
}

.boton_promo {
    width: 25%; 
    background-color: #0862fd;
    color: white;
    border-radius: 10px;
    border: 0cap;
    color: black;
    padding: 10px 20px; 
    text-align: center; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.boton_promo:hover {
    background-color: #0046c0;
    transform: scale(1.05);
}

.dropdown-menu {
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 20%;
    left: 80%;
}

.dropdown-menu li a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #f1f1f1;
}